.title {
  position: absolute;
  font-size: 15vh;
  text-align: left;
  padding-left: 2vw;
  color: white;
  width: auto;
  z-index: 1;
}

.viewBox {
  position: absolute;
  top: 17vh;
  border: 0.5vw solid black;
  z-index: -4;
}
