.title {
  position: absolute;
  font-size: 10vh;
  text-align: left;
  padding-left: 2vw;
  height: 12vh;
  color: white;
  width: 98vw;
  z-index: 1;

  // Gradients
  background: gray;
}

.ensembleMenuHamburger{
  float: right; 
  width: 10vh;
  padding-right: 1vw;
  padding-top: 0.5vw;
  &:hover {
    cursor: pointer;
  }
}

.controlPanelBg {
  position: relative;
  float:right;
  height: 87vh;
  top: 12vh;
  width: 33.3vw;
  border: 0.05vw solid white;
  color: white;
  border-bottom: none;
  opacity: 0.9;
  z-index: 1;
  overflow: scroll;
  font-size: 1em;
  background: black;
}


.controlPanel {
  position: absolute;
  float: right;
  height: 87vh;
  top: 10.2vh;
  width: 33.3vw;
  left: 50%;
  color: white;
  border-bottom: none;
  opacity: 1;
  z-index: 3;
  overflow: scroll;
  font-size: 1em;
}

.tab{
  position: absolute;
  float: left;
  top: 1.05vw;
  width: 50%;
  padding: 1%;
  left: 0vw; 
  list-style-type: none;
  &:hover {
    cursor: pointer;
  }
}

.ensembleMenuPanel {
  position: absolute;
  right: 0;
  height: auto;
  top: 12vh;
  width: 33.3vw;
  border: 0.5vw solid black;
  color: white;
  z-index: 3;
  overflow: scroll;
  font-size: 1em;
  background: gray;
}

.pinTitle{
  position: absolute;
  background-color: white;
  top: 8vw;
  width: 20vw;
  height: auto;
  left: 28vw;
  border: 0.3vw solid black;
}

.reactPlayerContainer {
  position: relative;
  width: 50vw;
  height: 37vw;
  top: 7vw;
  left: 2vw;
  border: 0.1vw solid white;
  margin-bottom: 2vw;
}

.reactPlayerOpacityOverride {
  position: absolute;
  width: 46vw;
  height: 26vw;
  top: 14vw;
  left: 52vw;
  background-color: black;
}

.scoreWrapper {
  position: relative;
  padding-left: 3vw;
  top: -22vw;
  text-align: justify;
}

.rendering {
  position: fixed;
  background-color: black;
  top: 1vw;
}


/**
* Removes borders from input
*/
input.middle:focus {
    outline-width: 0;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}