@font-face {
    font-family: 'Fira Code';
    src: local('Fira Code'), url(/fonts/FiraCode-VariableFont_wght.ttf) format('woff');
  }

body {
  margin: 0;
  font-family: "Fira Code";
  background: gray;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  position: relative;
  width: 100%;
  height: 100%;
}
