@font-face {
    font-family: 'Palatino';
    src: local('Palatino'), url(/fonts/Palatino.ttf) format('woff');
  }

body {
  margin: 0;
  font-family: "Palatino";
  background: gray;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  position: relative;
  width: 100%;
  height: 100%;
}
